@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  position: relative;
  width: 20px;
  height: 20px;
}

.spinner::before,
.spinner::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: black;
}

.spinner::before {
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.spinner::after {
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
}

@keyframes spin {
  0% {
      transform: rotate(0);
  }
  100% {
      transform: rotate(360deg);
  }
}

.bg-indigo-500 .spinner::before,
.bg-indigo-500 .spinner::after {
  background-color: white;
}

.animate-spin {
  animation: spin 3s linear infinite;
}

.mouth-container {
  width: 100%;
  display: flex;
  justify-content: flex;
}

.mouth {
  width: 40px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid black;
  animation:  mouth-animation 1.5s linear infinite;
}

@keyframes mouth-animation {
  0%, 100% {
    transform: scaleY(1);
  } 50% {
    transform: scaleY(0);
  }
}
